/********************************** FONTS **********************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

/********************************** COLORS **********************************/

:root {
	--purple: #9356DC;
	--lightpurple: #F5EDFF;
	--pink: #FF79DA;
	--turquoise: #99E2D0;
	--lightgray: #EAEAEA;
	--lightgray2: #F7F7F7;
	--gray: #353535;
}

/********************************** GLOBAL **********************************/

body {
	margin: 0;
	font-family: Roboto, sans-serif;;
}

.container {
	padding: 0% 5% 0% 5%;
}

ul, ol {
	list-style: none;
}

h1 {
	font-size: unset;
}

/********************************** MOBILE HEADER **********************************/

.header {
	display: flex;
	flex-direction: column;
}

.header__title {
	text-align: center;
	padding: 20px 10px 5px 10px;
	margin: 0;
	box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
	position: relative;
}

.header__title--logo {
	width: 160px;
	height: 28px;
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav__location {
	display: flex;
	background-color: var(--lightgray);
	padding: 15px 0px 15px 0px;
	color: var(--gray);
	justify-content: center;
	width: 100%;
}

.nav__location--town {
	margin: 0;
	text-align: center;
	font-size: 16px;
	margin-right: 25px;
	font-weight: bolder;
}

.nav__location--icon {
	position: relative;
	margin-right: 15px;
}

.nav__exploration {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	align-items: center;
	background-color: var(--lightgray2);
	padding-bottom: 60px;
}

.nav__exploration--title {
	margin: 0;
	padding: 45px 0px 5px 0px;
	width: 75%;
}

.nav__exploration--desc {
	margin: 0;
	padding: 5px 0px 35px 0px;
	width: 75%;
}

.nav__exploration--button {
	border-radius: 50px;
	padding: 15px;
	color: white;
	background: linear-gradient(var(--pink), var(--purple));
	border: 1px;
	font-size: 16px;
	font-family: Roboto;
	box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}

/********************************** MOBILE TUTORIAL **********************************/

@media screen and (max-width: 992px) {

	.tutorial {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 55px;
	}

	.tutorial__title {
		padding-bottom: 20px;
		margin: 0px;
	}

	.tutorial__steps {
		display: flex;
		flex-direction: column;
		counter-reset: tutostep;
		padding: 0px;
		margin: 0px;
	}

	.tutorial__steps--step {
		display: flex;
		padding: 25px 15px 25px 25px;
		border-radius: 25px;
		margin: 20px 0px 20px 0px;
		margin-left: 10px;
		box-shadow: 2px 2px 20px rgb(0, 0, 0, 0.2);
		background-color: var(--lightgray2);
		font-size: 14px;
	}

	.tutorial__steps--step:before {
	    counter-increment: tutostep 1;
	    content: counter(tutostep);
	    background: #9356dc;
	    height: 24px;
	    width: 24px;
	    border-radius: 50px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    color: white;
	    position: absolute;
	    left: 5%;
	}

	.tutoriel__steps--step-icon {
		display: flex;
		justify-content: center;
		margin-top: 2px;
		width: 30px;
		text-align: center;
		position: relative;
		font-size: 18px;
		padding: 0px 15px 0px 5px;
		color: gray;
	}

	.tutorial__steps--step-title {
		margin: 0px;
	}

	.tutorial__steps--step:hover {
		background-color: var(--lightpurple);
	}

	.tutorial__steps--step:hover i {
		color: var(--purple);
	}
}

/********************************** DESKTOP TUTORIAL **********************************/

@media screen and (min-width: 993px) {

	.tutorial {
		display: flex;
		justify-content: center;
	}

	.tutorial__title {
		display: none;
	}

	.tutorial__steps {
		display: flex;
	}

	.tutorial__steps--step {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		padding: 20px;
	}

	.tutorial__steps--step-icon {
		display: flex;
		align-items: center;
		font-size: 30px;
		background: linear-gradient(var(--purple), var(--pink));
		height: 45px;
		width: 45px;
		justify-content: center;
		border-radius: 50px;
		color: var(--lightgray2);
	}
}