.footer {
    width: 100%;
    background-color: $color-background-footer;
    padding-bottom: 40px;
    @media screen and (min-width: 992px) {
        .container__second-page {
            max-width: unset;
        }
    }

    &__title {
        font-family: Shrikhand;
        color: white;
        padding: 25px 0px 25px 0px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 8px;

        &__element {
            display: flex;

            &-icon {
                width: 16px;
                height: 16px;
                font-size: 16px;
                padding-right: 14px;
            }

            &-link {
                width: auto;
            }
        }
    }
}