.nav {
	display: flex;
	flex-direction: column;
	align-items: center;

    &__location {
        display: flex;
        background-color: $color-background-nav;
        padding: 15px 0px 15px 0px;
        color: $color-icon-nav;
        justify-content: center;
        width: 100%;

        &__town {
            margin: 0;
            text-align: center;
            font-size: 16px;
            margin-right: 25px;
            font-weight: bolder;
        }

        &__icon {
            position: relative;
            margin-right: 15px;
            @include size-icon
        }
    }

    &__exploration {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
        background-color: $color-background;
        padding-bottom: 60px;

        &__title {
            margin: 0;
            padding: 45px 0px 5px 0px;
            width: 75%;
        }

        &__desc {
            margin: 0;
            padding: 5px 0px 35px 0px;
            width: 75%;
        }
    }
}

.tutorial {
    padding: 55px 0px 65px 0px;
    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: row;
        padding: unset
    }

    &__title {
        padding-bottom: 20px;
        margin: 0px;
        @media screen and (min-width: 992px) {
            display: none;
        }
    }

    &__steps {
        display: flex;
        flex-direction: column;
        counter-reset: tutostep;
        padding: 0px;
        margin: 0px;
        gap: 25px;
        @media screen and (min-width: 992px) {
            flex-direction: row;
        }

        &__step {
            display: flex;
            padding: 25px 15px 25px 25px;
            border-radius: 25px;
            margin-left: 10px;
            @include box-shadow;
            @include size-icon;
            font-weight: bolder;
            @media screen and (min-width: 992px) {
                padding: 40px;
                position: relative;
                flex-direction: column-reverse;
                align-items: center;
                box-shadow: unset;
                border-radius: 0px;
            }

            &:before {
                counter-increment: tutostep 1;
                content: counter(tutostep);
                background: $color-primary;
                height: 24px;
                width: 24px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                position: absolute;
                left: 5%;
                font-size: 14px;
                @media screen and (min-width: 992px) {
                    background: $color-tertiary;
                    @include box-shadow;
                    left: 1%;
                    top: 24%;
                    border-radius: 0px;
                }

            }

            &-icon {
                display: flex;
                justify-content: center;
                margin-top: 2px;
                width: 30px;
                text-align: center;
                position: relative;
                @include size-icon;
                padding: 0px 15px 0px 5px;
                color: $color-icon-tuto;
                @media screen and (min-width: 992px) {
                    align-items: center;
                    font-size: 25px;
                    background: linear-gradient($color-primary, $color-secondary);
                    height: 45px;
                    width: 45px;
                    border-radius: 50px;
                    color: $color-background;
                    padding: 0px;
                }

            }

            &-title {
                margin: 0px;
                @media screen and (min-width: 992px) {
                    padding-bottom: 10px;
                }

            }

            &:hover {
                background-color: $color-background-button-hover;
                @media screen and (min-width: 992px) {
                    background-color: unset;
                }

                & i {
                    color: $color-primary;
                    @media screen and (min-width: 992px) {
                        color: white;
                    }
                }

            }

        }

    }

}

.restaurants {
    background-color: $color-background;
    padding: 60px 0px 65px 0px;

    &__title {
        padding-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        width: 100%;
        position: relative;

        &__card {
            display: flex;
            min-width: 50%;
            flex: 1;
            height: 252px;
            background-color: white;
            border-radius: 15px;
            @include box-shadow;
            position: relative;

            &-badge {
                padding: 7px 10px 7px 10px;
                position: absolute;
                background-color: $color-background-badge;
                color: $color-text-badge;
                border-radius: 3px;
                @include box-shadow;
                right: 15px;
                top: 15px;
                font-weight: bolder;
                font-size: 15px;
            }

            &-img {
                width: 100%;
                height: 175px;
                object-fit: cover;
                border-radius: 15px 15px 0px 0px;
            }

            &-desc {
                display: flex;
                padding: 12px 23px 12px 16px;
                justify-content: space-between;

                &-element {

                    &-title {
                        padding-bottom: 4px;
                    }
                }
            }

            @media screen and (min-width: 992px) {
                min-width: 33%;
            }
        }
    }
}

.restaurants__list__card a {
    width: 100%;
}

.fas.fa-mobile-screen-button, .fas.fa-list-ul, .fas.fa-store {
    display: flex;
}