/********************************** MOBILE/TABLETTE TUTORIAL **********************************/
.tutorial {
    padding: 55px 0px 65px 0px;
    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: row;
        padding: unset
    }

    &__title {
        padding-bottom: 20px;
        margin: 0px;
        @media screen and (min-width: 992px) {
            display: none;
        }
    }

    &__steps {
        display: flex;
        flex-direction: column;
        counter-reset: tutostep;
        padding: 0px;
        margin: 0px;
        gap: 25px;
        @media screen and (min-width: 992px) {
            flex-direction: row;
        }

        &--step {
            display: flex;
            padding: 25px 15px 25px 25px;
            border-radius: 25px;
            margin-left: 10px;
            @include box-shadow;
            @include size-icon;
            font-weight: bolder;
            @media screen and (min-width: 992px) {
                padding: 40px;
                position: relative;
                flex-direction: column-reverse;
                align-items: center;
                box-shadow: unset;
                border-radius: 0px;
            }

            &:before {
                counter-increment: tutostep 1;
                content: counter(tutostep);
                background: $color-primary;
                height: 24px;
                width: 24px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                position: absolute;
                left: 5%;
                font-size: 14px;
                @media screen and (min-width: 992px) {
                    background: $color-tertiary;
                    @include box-shadow;
                    left: 1%;
                    top: 24%;
                    border-radius: 0px;
                }

            }

            &-icon {
                display: flex;
                justify-content: center;
                margin-top: 2px;
                width: 30px;
                text-align: center;
                position: relative;
                @include size-icon;
                padding: 0px 15px 0px 5px;
                color: $color-icon-tuto;
                @media screen and (min-width: 992px) {
                    align-items: center;
                    font-size: 25px;
                    background: linear-gradient($color-primary, $color-secondary);
                    height: 45px;
                    width: 45px;
                    border-radius: 50px;
                    color: $color-background;
                    padding: 0px;
                }

            }

            &-title {
                margin: 0px;
                @media screen and (min-width: 992px) {
                    padding-bottom: 10px;
                }

            }

            &:hover {
                background-color: $color-background-button-hover;
                @media screen and (min-width: 992px) {
                    background-color: unset;
                }

                & i {
                    color: $color-primary;
                    @media screen and (min-width: 992px) {
                        color: white;
                    }
                }

            }

        }

    }

}

.fas.fa-mobile-screen-button, .fas.fa-list-ul, .fas.fa-store {
    display: flex;
}