@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.loading {
  display: flex;
  position: fixed;
  gap: 30px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-animation: loader 0.05s;
          animation: loader 0.05s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.9);
}
.loading__cooking {
  display: flex;
  flex-direction: column;
  position: relative;
}
.loading__cooking--circle {
  display: flex;
  width: 100%;
}
.loading__cooking--circle-1, .loading__cooking--circle-2, .loading__cooking--circle-3 {
  width: 5px;
  height: 5px;
  padding: 10px;
  background-color: lightgray;
  opacity: 100%;
  border-radius: 50px;
  position: absolute;
  -webkit-animation: bounce infinite 1s alternate;
          animation: bounce infinite 1s alternate;
  border: black 1px solid;
}
.loading__cooking--circle-1 {
  border-right: black 1px solid;
}
.loading__cooking--circle-2 {
  left: 12px;
  bottom: 25px;
  border-left: lightgray 1px solid;
  border-right: lightgray 1px solid;
  border-bottom: lightgray 1px solid;
  z-index: 1;
}
.loading__cooking--circle-3 {
  left: 24px;
  border-left: lightgray 1px solid;
}
.loading__cooking--square {
  width: 5px;
  height: 5px;
  padding: 10px;
  background-color: lightgray;
  margin-top: 23px;
  margin-left: 11.75px;
  border: black 1px solid;
  border-top: none;
  z-index: 1;
  -webkit-animation: bounce infinite 1s alternate;
          animation: bounce infinite 1s alternate;
}
.loading__cooking--delay1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading__cooking--delay2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes bounce {
  100% {
    transform: translateY(-30px);
  }
}

@keyframes bounce {
  100% {
    transform: translateY(-30px);
  }
}
@-webkit-keyframes scaling {
  100% {
    transform: scale(1.2);
  }
}
@keyframes scaling {
  100% {
    transform: scale(1.2);
  }
}
@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
ul, ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}

h1, h2, h3, p {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: unset;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0% 5% 0% 5%;
}
@media screen and (max-width: 992px) {
  .container .container {
    margin: unset;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
  padding: 20px 10px 5px 10px;
  margin: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
}
@media screen and (min-width: 993px) {
  .header {
    padding-bottom: 0px;
  }
}
.header__logo {
  width: 160px;
  height: 28px;
}
.header__home {
  font-weight: bolder;
  position: absolute;
  left: 15px;
  color: #353535;
}
.header_background__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__location {
  display: flex;
  background-color: #EAEAEA;
  padding: 15px 0px 15px 0px;
  color: #353535;
  justify-content: center;
  width: 100%;
}
.nav__location--town {
  margin: 0;
  text-align: center;
  font-size: 16px;
  margin-right: 25px;
  font-weight: bolder;
}
.nav__location--icon {
  position: relative;
  margin-right: 15px;
  font-size: 18px;
}
.nav__exploration {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: #F7F7F7;
  padding-bottom: 60px;
}
.nav__exploration--title {
  margin: 0;
  padding: 45px 0px 5px 0px;
  width: 75%;
}
.nav__exploration--desc {
  margin: 0;
  padding: 5px 0px 35px 0px;
  width: 75%;
}
.nav__exploration--button {
  border-radius: 50px;
  padding: 15px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  background-color: #686868;
  font-size: 16px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.nav__exploration--button:hover {
  transform: scale(1.05);
}

/********************************** MOBILE/TABLETTE TUTORIAL **********************************/
.tutorial {
  padding: 55px 0px 65px 0px;
}
@media screen and (min-width: 992px) {
  .tutorial {
    display: flex;
    flex-direction: row;
    padding: unset;
  }
}
.tutorial__title {
  padding-bottom: 20px;
  margin: 0px;
}
@media screen and (min-width: 992px) {
  .tutorial__title {
    display: none;
  }
}
.tutorial__steps {
  display: flex;
  flex-direction: column;
  counter-reset: tutostep;
  padding: 0px;
  margin: 0px;
  gap: 25px;
}
@media screen and (min-width: 992px) {
  .tutorial__steps {
    flex-direction: row;
  }
}
.tutorial__steps--step {
  display: flex;
  padding: 25px 15px 25px 25px;
  border-radius: 25px;
  margin-left: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bolder;
}
@media screen and (min-width: 992px) {
  .tutorial__steps--step {
    padding: 40px;
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    box-shadow: unset;
    border-radius: 0px;
  }
}
.tutorial__steps--step:before {
  counter-increment: tutostep 1;
  content: counter(tutostep);
  background: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 5%;
  font-size: 14px;
}
@media screen and (min-width: 992px) {
  .tutorial__steps--step:before {
    background: #99E2D0;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    left: 1%;
    top: 24%;
    border-radius: 0px;
  }
}
.tutorial__steps--step-icon {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  width: 30px;
  text-align: center;
  position: relative;
  font-size: 18px;
  padding: 0px 15px 0px 5px;
  color: #7E7E7E;
}
@media screen and (min-width: 992px) {
  .tutorial__steps--step-icon {
    align-items: center;
    font-size: 25px;
    background: linear-gradient(#9356DC, #FF79DA);
    height: 45px;
    width: 45px;
    border-radius: 50px;
    color: #F7F7F7;
    padding: 0px;
  }
}
.tutorial__steps--step-title {
  margin: 0px;
}
@media screen and (min-width: 992px) {
  .tutorial__steps--step-title {
    padding-bottom: 10px;
  }
}
.tutorial__steps--step:hover {
  background-color: #F5EDFF;
}
@media screen and (min-width: 993px) {
  .tutorial__steps--step:hover {
    background-color: unset;
  }
}
.tutorial__steps--step:hover i {
  color: #9356DC;
}
@media screen and (min-width: 993px) {
  .tutorial__steps--step:hover i {
    color: white;
  }
}

.fas.fa-mobile-screen-button, .fas.fa-list-ul, .fas.fa-store {
  display: flex;
}

.restaurants {
  background-color: #F7F7F7;
  padding: 60px 0px 65px 0px;
}
.restaurants__title {
  padding-bottom: 30px;
}
.restaurants__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}
.restaurants__list--card {
  display: flex;
  min-width: 50%;
  flex: 1;
  height: 252px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}
.restaurants__list--card-badge {
  padding: 7px 10px 7px 10px;
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 3px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  right: 15px;
  top: 15px;
  font-weight: bolder;
  font-size: 15px;
}
.restaurants__list--card-img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__list--card-desc {
  display: flex;
  padding: 12px 23px 12px 16px;
  justify-content: space-between;
}
.restaurants__list--card-desc-element-title {
  padding-bottom: 4px;
}
.restaurants__list--card-desc-like-icon {
  font-size: 24px;
}
.restaurants__list--card-desc-like-icon:hover {
  background: linear-gradient(to bottom left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.2);
  transition: 0.2s;
}
.restaurants__list--card-desc-like-icon:hover::before {
  font-weight: 900;
}
@media screen and (min-width: 992px) {
  .restaurants__list--card {
    min-width: 33%;
  }
}

.restaurants__list--card a {
  width: 100%;
}

.footer {
  width: 100%;
  background-color: #353535;
  padding-bottom: 40px;
}
.footer__title {
  font-family: Shrikhand;
  color: white;
  padding: 25px 0px 25px 0px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 8px;
}
.footer__list--element {
  display: flex;
}
.footer__list--element-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  padding-right: 14px;
}
.footer__list--element-link {
  width: auto;
}

.menu {
  margin-top: -55px;
  border-radius: 35px 35px 0px 0px;
  background-color: #F7F7F7;
  z-index: 1;
  position: relative;
}
.menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 20px 30px 0px;
  font-family: Shrikhand;
}
.menu__category, .menu__category--2 {
  font-weight: lighter;
  padding-bottom: 5px;
  position: relative;
  width: 60%;
}
.menu__category:before, .menu__category--2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 45px;
  border-bottom: #99E2D0 3px solid;
}
.menu__category--2, .menu__category--2--2 {
  margin-left: 35px;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}
.menu__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__card--element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  padding: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  -webkit-animation-name: itemAppear;
          animation-name: itemAppear;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__card--element-food {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__card--element-desc {
  font-size: 14px;
  padding: 5px 0px 0px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__card--element-price {
  font-weight: bolder;
  font-size: 15px;
  flex: 1;
  text-align: right;
  padding-right: 10px;
}
.menu__card--element-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  margin: -18px -76.1px -11px 0px;
  padding: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all ease-in-out 0.4s;
}
.menu__card--element-confirm-item {
  color: #99E2D0;
  background-color: white;
  border-radius: 50px;
  width: 25px;
  height: 25px;
}
.menu__card--element-confirm-item:before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
.menu__card--element:hover .menu__card--element-confirm {
  margin-right: -10.1px;
  transition: all ease-in-out 0.4s;
}
.menu__card--element:hover .menu__card--element-confirm-item {
  transform: rotate(360deg);
  transition: all ease-in-out 0.6s;
}
.menu__btn {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.menu__btn--command {
  justify-content: center;
  border-radius: 50px;
  padding: 15px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  background-color: #686868;
  font-size: 16px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  padding: 15px 50px 15px 50px;
}
.menu__btn--command:hover {
  transform: scale(1.05);
}
.menu__delay-2 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.menu__delay-3 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=main.css.map */