/********************************** COLORS **********************************/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F7F7F7;
$color-background-nav: #EAEAEA;
$color-background-button-hover: #F5EDFF;
$color-icon-nav: #353535;
$color-icon-tuto: #7E7E7E;